{% extends 'base.html.twig' %}


{% block body %}
   
<h2 style="text-align:center; margin-bottom:20px;"> Commandez des billets pour le musée </h2>

<p><center><input class="btn btn-default" type="submit" value="Ajouter un billet"></center></p>

{% endblock %}